@{
    ViewData["Title"] = "Доступ запрещен";
}

<div class="text-center">
    <h1 class="display-4">Проходи, не задерживайся</h1>
    <img src="~/img/access_forbidden.jpg" class="img" alt="Иди своей дорогой, Сталкер" />
</div>
