@model MonamourWeb.Models.VisitStatus
@{
    ViewData["Title"] = "Добавить статус посещения";
}
<form method="post" asp-controller="VisitStatuses" asp-action="Create">
    <div class="border p-3">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group row">
            <h4 class="text-black-50 pl-3">Добавить  статус посещения</h4>
        </div>

        <br />

        <table class="table table-borderless text-center" style="width: 100%">
            <tr>
                <td>
                    <label asp-for="Status"></label>
                </td>
                <td>
                    <input asp-for="Status" class="form-control" />
                    <span asp-validation-for="Status" class="text-danger"></span>
                </td>
            </tr>
        </table>

        <br />

        <div class="form-group row">
            <div class="col-8 offset-2 row">
                <div class="col">
                    <input type="submit" class="btn btn-info w-75" value="Добавить" />
                </div>
                <div class="col">
                    <a class="btn btn-danger w-75" asp-controller="VisitStatuses" asp-action="All">Назад</a>
                </div>
            </div>
        </div>
    </div>
</form>