@{
    ViewData["Title"] = "О MonamourWeb";
}

<div class="border p-3">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group row">
        <h4 class="text-black-50 pl-3">О программе MonamourWeb</h4>
    </div>

    <br />

    <p class="text-center">
        CRM система салона для животных Monamour (г. Сыктывкар) <br />
        Разработка - <a href="https://www.linkedin.com/in/vberesnev/">Валерий Береснев</a> <br />
        С багами и пожеланиями сюда vberesnev.job@gmail.com. <br />
        Скриншоты приветствуются
    </p>
</div>
