@using System.Security.Claims
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MonamourWeb</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container">
            <a class="navbar-brand" asp-area="" asp-controller="Visits" asp-action="Index">MonamourWeb</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Visits" asp-action="Index">Посещения</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Clients" asp-action="All">Клиенты</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Pets" asp-action="All">Питомцы</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link text-dark dropdown-toggle" data-toggle="dropdown" href="#">Справочники</a>
                        <ul class="dropdown-menu">
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Breeds" asp-action="All">Породы</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Animals" asp-action="All">Животные</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Procedures" asp-action="All">Процедуры</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="PetTags" asp-action="All">Теги питомцев</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="ClientTags" asp-action="All">Теги клиентов</a>
                            </li>
                            @if (Context.User.IsInRole("Admin"))
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="PaymentTypes" asp-action="All">Типы оплаты</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="VisitStatuses" asp-action="All">Статусы посещений</a>
                                </li>
                            }
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link text-dark dropdown-toggle" data-toggle="dropdown" href="#">Сервис</a>
                        <ul class="dropdown-menu">
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="MyAccount">Аккаунт</a>
                            </li>
                            @if (Context.User.IsInRole("Admin"))
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Users" asp-action="All">Пользователи</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Logs" asp-action="Index">Логи</a>
                                </li>
                            }
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="About" asp-action="Index">О программе</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="text-right">
                <a class="navbar-brand" asp-controller="Account" asp-action="Logout">Выйти @Context.User.Claims.First(c => c.Type == ClaimTypes.Name).Value</a>
            </div>
        </div>
    </nav>
</header>
<div class="container">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>

<footer class="border-top footer text-muted">
    <div class="container">
    </div>
</footer>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-ajax-unobtrusive/3.2.6/jquery.unobtrusive-ajax.min.js"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>

<script>
    var timer;

    function setTimeoutTimer() {
        timer = window.setTimeout( 
            function() {
                $.ajax({
                    type: "post",
                    url: "/Account/Logout",
                    success: function (result) {
                        window.location.href = "/Account/Login";
                    }
                });
            }, 300000);
    }

    setTimeoutTimer();

    document.body.onclick = function () {
        clearTimeout(timer);
        setTimeoutTimer();
    }
</script>
